{% extends "layout.html" %}
{% block title %}
  Files
{% endblock title %}
{% block links %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/sidebar.css') }}">
{% endblock links %}
{% block sidebar %}
  {% include "sidebar.html" %}
{% endblock sidebar %}
{% block main_classes %}
  border col-sm-8 col-md-9 col-lg-10 p-2 px-md-4
{% endblock main_classes %}
{% block main %}
  <div class="row">
    <div class="col-12 col-lg-6 col-md-6 ">
      <h1>Files</h1>
      <p>This is the files page. Use the sidebar to navigate through files and schemas.</p>
      <div class="mb-3">
        <form action="{{ url_for('files.upload') }}"
              method="post"
              enctype="multipart/form-data">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="mb-3">
            <label for="formFile" class="form-label">Default file input</label>
            <input class="form-control" type="file" id="formFile" name="file">
          </div>
          <button type="submit" class="btn btn-primary">Upload</button>
        </form>
      </div>
      <div class="mb-3">
        <p>To create a new database file from scratch:</p>
        <form action="{{ url_for('files.create') }}" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <div class="mb-3">
            <label for="filename" class="form-label">filename:</label>
            <input class="form-control"
                   type="text"
                   name="filename"
                   placeholder="filename">
          </div>
          <div class="mb-3">
            <label for="extension" class="form-label">extension:</label>
            <select class="form-control" name="extension">
              <option value="">--file extension--</option>
              <option value="db">.db</option>
              <option value="sqlite">.sqlite</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Create new DB file</button>
        </form>
      </div>
    </div>
  </div>
{% endblock main %}
