{% extends "layout.html" %}
{% block title %}
  Homepage
{% endblock title %}
{% block links %}
  <link rel="stylesheet"
        href="{{ url_for('static', filename='css/sidebar.css') }}">
{% endblock links %}
{% block sidebar %}
  {% include "sidebar.html" %}
{% endblock sidebar %}
{% block main_classes %}
  border col-sm-8 col-md-9 col-lg-10 p-2 px-md-4
{% endblock main_classes %}
{% block main %}
  {% if files or paired_queries %}
    <div class="row">
      <!-- Top row: SQL query form -->
      <form method="post" action="{{ url_for('sqlite.index') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="mb-3">
          <label for="sqlInput" class="form-label">Enter SQL Query</label>
          <textarea class="form-control font-monospace"
                    id="sqlInput"
                    name="query"
                    rows="4"
                    placeholder="SELECT * FROM users LIMIT 10;"
                    required></textarea>
        </div>
        <div class="d-inline-flex gap-2 mb-3">
          <button type="submit" name="action" value="run" class="btn btn-primary">
            Run Query
          </button>
          <button type="button"
                  class="btn btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#clearQueries">Clear Queries</button>
        </div>
      </form>
    </div>
    <!-- Bottom row: query results -->
    <div class="row queryInput">
      {% if paired_queries %}
        {% for query, headers, query_result in paired_queries %}
          <div class="col g-3">
            <div class="card">
              <h5 class="card-header d-flex justify-content-between align-items-start">
                <pre class=""><code>{{ query }}</code></pre>
                <button type="button"
                        class="btn-close btn-remove-query"
                        value="{{ loop.index0 }}"
                        data-file-route="{{ url_for('sqlite.index') }}"
                        aria-label="Close"></button>
              </h5>
              <div class="card-body table-responsive">
                <table class="table table-striped table-bordered table-sm mb-0 sortable">
                  <thead class="table-dark">
                    <tr>
                      {% for col in headers %}
                        <th class="{% if query_result[0][col] is number %}num{% endif %}"
                            aria-sort="none">
                          <button class="btn btn-dark" type="button">{{ col }}</button>
                        </th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in query_result %}
                      <tr>
                        {% for col in row %}<td>{{ row[col] }}</td>{% endfor %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="col mb-2 mt-2">Run a query to see the result here!</div>
      {% endif %}
    </div>
  {% else %}
    <div class="col">
      <h1>Welcome to DB Browser Viewer</h1>
      <p>
        This is the homepage. Use the sidebar to navigate through files and schemas.
        Upload a file to display a list of available databases!
      </p>
    </div>
  {% endif %}
  <!-- Modal -->
  <div class="modal fade"
       id="clearQueries"
       tabindex="-1"
       aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Clear Queries</h1>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">Are you sure you want to clear your Queries?</div>
        <div class="modal-footer">
          <form action="{{ url_for('sqlite.index') }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <button type="submit" class="btn btn-danger" name="action" value="clear">Yes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}
