<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Effortlessly browse, search, and manage your databases online with DataBase Browser Viewer. Fast, secure, and user-friendly—perfect for data professionals and teams.">
    <meta name="keywords"
          content="database, online database, DBBV, data management, search, secure database">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <script>
    // Define globally (only once)
    window.CSRF_TOKEN = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    </script>
    <title>
      DBBV:
      {% block title %}
      {% endblock title %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
          crossorigin="anonymous">
    <link rel="icon"
          type="image/x-icon"
          href="{{ url_for('static', filename='img/logo_final.png') }}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    {% block links %}
    {% endblock links %}
  </head>
  <body>
    <header>
      <nav class="border navbar navbar-expand-md navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('sqlite.index') }}">
            <img src="{{ url_for('static', filename='img/logo_final.png') }}"
                 alt="DBBV Logo"
                 width="30"
                 height="30"
                 class="me-0">
          DBBV</a>
          <button aria-controls="navbar"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                  class="navbar-toggler"
                  data-bs-target="#navbar"
                  data-bs-toggle="collapse"
                  type="button">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar">
            {% if session.get("user_id") %}
              <ul class="navbar-nav me-auto mt-2">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('sqlite.index') }}">SQLite</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('alchemy.index') }}">SQLAlchemy</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('files.files') }}">File Upload</a>
                </li>
              </ul>
              <ul class="navbar-nav ms-auto mt-2">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('auth.account') }}">Account</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
                </li>
              </ul>
            {% else %}
              <ul class="navbar-nav ms-auto mt-2">
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
                </li>
              </ul>
            {% endif %}
          </div>
        </div>
      </nav>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show mb-2 text-center"
                 role="alert">
              {{ message }}
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="alert"
                      aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </header>
    <div class="container-fluid">
      <div class="row">
        {% if session.get("user_id") %}
          {% block sidebar %}
          {% endblock sidebar %}
          <main class="{% block main_classes %}{% endblock main_classes %}">
            {% block main %}
            {% endblock main %}
          </main>
        {% else %}
          <main class="container py-5 text-center">
            {% block main_auth %}
            {% endblock main_auth %}
          </main>
        {% endif %}
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade"
         id="removeFile"
         tabindex="-1"
         aria-labelledby="ModalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="ModalLabel">Remove File</h1>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">Are you sure you want to delete this file?</div>
          <div class="modal-footer">
            <form action="{{ url_for('files.removeFile') }}" method="post">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button id="removeFileBtn"
                      type="submit"
                      class="btn btn-danger"
                      name="remove"
                      value="">Remove</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- footer -->
    <footer class="py-2 my-2">
      <p class="text-center text-body-secondary">© 2025 DBBV, Inc</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/sidebar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/queries.js') }}"></script>
  </body>
</html>
