<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Effortlessly browse, search, and manage your databases online with DataBase Browser Viewer. Fast, secure, and user-friendly—perfect for data professionals and teams.">
    <meta name="keywords"
          content="database, online database, DBBV, data management, search, secure database">
    <title>DBBV: Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
          crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/sign-in.css') }}"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="icon"
          type="image/x-icon"
          href="{{ url_for('static', filename='img/favicon/favicon.svg') }}">
    <link rel="icon"
          type="image/png"
          href="{{ url_for('static', filename='img/favicon/favicon-96x96.png') }}"
          sizes="96x96" />
    <link rel="icon"
          type="image/svg+xml"
          href="{{ url_for('static', filename='img/favicon/favicon.svg') }}" />
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='img/favicon/favicon.ico') }}" />
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{{ url_for('static', filename='img/favicon/apple-touch-icon.png') }}" />
    <link rel="manifest"
          href="{{ url_for('static', filename='img/favicon/site.webmanifest') }}" />
  </head>
  <body class="d-flex align-items-center py-4 bg-body-tertiary">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <header class="position-fixed top-0 start-50 translate-middle-x mt-3">
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show mb-2 text-center"
                 role="alert">
              {{ message }}
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="alert"
                      aria-label="Close"></button>
            </div>
          {% endfor %}
        </header>
      {% endif %}
    {% endwith %}
    <main class="form-signin w-100 m-auto">
      <form action="{{ url_for('auth.login') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <img class="mb-1"
             src="{{ url_for('static', filename='img/logo_final.png') }}"
             alt=""
             width="150"
             height="150">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="form-floating">
          <input type="text"
                 name="username"
                 class="form-control"
                 id="floatingInput"
                 placeholder="name@example.com"
                 required>
          <label for="floatingInput">username</label>
        </div>
        <div class="form-floating">
          <input type="password"
                 name="password"
                 class="form-control"
                 id="floatingPassword"
                 placeholder="Password"
                 required>
          <label for="floatingPassword">Password</label>
          <i class="bi bi-eye-slash" id="togglePassword"></i>
        </div>
        <div class="form-check text-start my-3">
          <input class="form-check-input"
                 type="checkbox"
                 name="remember"
                 id="checkDefault">
          <label class="form-check-label" for="checkDefault">Remember me</label>
        </div>
        <button class="btn btn-primary w-100 py-2 mb-2" type="submit">Sign in</button>
      </form>
      <a class="btn btn-primary w-100 py-2"
         href="{{ url_for('auth.register') }}">Register</a>
      <p class="mt-5 mb-3 text-body-secondary">© 2025</p>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
            crossorigin="anonymous"></script>
    <script>
      const togglePassword = document.querySelector('#togglePassword');
      const password = document.querySelector('#floatingPassword');
      togglePassword.addEventListener('click', (e) => {
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        e.target.classList.toggle('bi-eye');
     });
    </script>
  </body>
</html>
