<!-- Sidebar HTML Template -->
<aside class="sidebar border col-md-3 col-lg-2 p-2 bg-body-tertiary overflow-auto">
    <a href="{{ url_for('sqlite.index') }}"
       class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom justify-content-center">
        <span class="fs-5 fw-semibold">Files & Schema's</span>
    </a>
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 "
                    id="file-route-btn"
                    data-bs-toggle="collapse"
                    data-bs-target="#home-collapse"
                    data-file-route="{{ url_for('files.select') }}"
                    aria-expanded="true">Files</button>
            <div class="collapse show" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    {% for file in files %}
                        <li>
                            <div class="d-flex justify-content-between align-items-center w-100">
                                {% set display_file = file %}
                                {% if file|length > 15 %}
                                    {% set display_file = file[:10] ~ ".." ~ split_ext(file) %}
                                {% endif %}
                                <button class="btn d-inline-flex file-btn text-truncate px-1 m-1 {% if db_selected == file %}active{% endif %}"
                                        data-file="{{ file }}">{{ display_file }}</button>
                                <div class="ms-auto d-flex gap-1">
                                    <a href="{{ url_for('files.download_file', name=file) }}"
                                       class="btn btn-outline-secondary file-download d-inline-flex align-items-center">
                                        <i class="bi bi-file-earmark-arrow-down d-inline-flex"></i>
                                    </a>
                                    <button class="btn btn-outline-secondary file-btn-2 d-inline-flex align-items-center"
                                            data-bs-toggle="modal"
                                            data-bs-target="#removeFile"
                                            data-file="{{ file }}">
                                        <i class="bi bi-file-earmark-excel d-inline-flex"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 "
                    data-bs-toggle="collapse"
                    data-bs-target="#dashboard-collapse"
                    aria-expanded="false">Schemas</button>
            <div class="collapse" id="dashboard-collapse">
                {% if schemas %}
                    {% for schema in schemas %}
                        <table class="table table-striped border overflow-auto">
                            <tbody>
                                {% for key, value in schema.items() %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>{{ value }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endfor %}
                {% endif %}
            </div>
        </li>
    </ul>
</aside>
